@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body  {
    background-color: rgb(120, 120, 255);
}

header h1 {
    text-align: center;
    font-size: 3.3em;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 600px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.534);
}

#um {
    margin-bottom: 20px;
    font-size: 18px;
}

#dois {
    margin-bottom: 20px;
    font-size: 18px;
}

#tres {
    margin-bottom: 20px;
    font-size: 18px;
}

#botao {
    width: 70px;
    height: 30px;
}

section > p {
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    position: absolute;
    bottom: 10px;
}