@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#container {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    justify-content: center;

    #botao {
        height: 100px;
        width: 100px;

        margin-top: 60px;
        margin-bottom: 50px;

        border-radius: 50%;
        cursor: pointer;
        background-color: green;
        font-weight: bold;
        box-shadow: 0px 9px 0px black;

        &:active {
            transform: translateY(5px);
            box-shadow: 0px 5px 0px black;
        }
    }

    #resetar {
        height: 100px;
        width: 100px;

        margin-top: 60px;
        margin-bottom: 50px;

        border-radius: 50%;
        cursor: pointer;
        background-color: red;
        font-weight: bold;
        box-shadow: 0px 9px 0px black;

        &:active {
            transform: translateY(5px);
            box-shadow: 0px 5px 0px black;
        }
    }
}